name: Secret Scan with TruffleHog

on:
  push:
    branches:
      - main
      - feature1
  pull_request:

permissions:
  contents: read
  id-token: write
  issues: write
  pull-requests: write

jobs:
  trufflehog-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run TruffleHog OSS
        id: trufflehog
        uses: trufflesecurity/trufflehog@add-actions-cli-switch
        continue-on-error: true
        with:
          path: ./
          base: ${{ github.event.repository.default_branch }}
          head: HEAD
          extra_args: --debug --only-verified

      - name: Fail if secrets found
        if: steps.trufflehog.outcome == 'failure'
        run: exit 1
